<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout :: head"></head>

<body>

<h3>Create Customer</h3>

<form th:action="@{/customers/save}"
      th:object="${customer}"
      method="post">

    <input type="hidden"
           th:field="*{id}">

    Name:

    <input type="text"
           th:field="*{name}">

    <br><br>

    Email:

    <input type="email"
           th:field="*{email}">

    <br><br>

    Address:

    <input type="text"
           th:field="*{address}">

    <br><br>

    <input type="submit"
           value="Save">

</form>

</body>
</html>