<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="UTF-8">

    <title>Customer</title>

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }

        h3 {
            background: blue;
            color: white;
            padding: 10px;
        }

    </style>

</head>

<body>

<footer th:fragment="footer">

    <hr>

    CodeGym 2025

</footer>

</body>
</html>